* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */

html {
  font-size: 62.5%;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  line-height: 2;
}

body {
  padding: 0;
  /* background: #dbe2ef; */
}

/* -------- FONTS -------- */

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 3.3rem;
  text-align: center;
  padding: 3em 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.4rem;
}

.logoNav a{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.headerTextH3 {
  color: var(--orange-color);
}

input,
button {
  font-size: 1.2rem;
}

main .buttonSearch {
  font-size: 1.2rem;
  font-weight: bold;
}

main span {
  font-weight: bold;
}

.howItWorksSection a {
  font-size: 1.2rem;
}

.getStarted,
.getStarted a {
  font-size: 1.2rem;
}

.foodWasteText > a {
  font-size: 1.2rem;
}

.recipes a {
  font-size: 1.2rem;
}

.selectRecipes a {
  font-size: 1.4rem;
}

.johnSmithOne {
  font-size: 1.7rem;
}

.johnSmithTwo {
  font-size: 1.2rem;
}

.contactPhone p,
.contactEmail p {
  font-size: 1.8rem;
  font-weight: 400;
}

.newsletter {
  font-size: 1.6rem;
}

.newsletterInput {
  font-size: 1.3rem;
}

.footerList li {
  font-size: 1.1rem;
}

.socialMedia p {
  font-size: 2rem;
}

/* -------- ROOT COLORS -------- */

:root {
  --blue-color: rgb(52, 116, 212);
  --blue-dark-color: rgb(30, 61, 95);
  --cyan-color: rgb(170, 220, 242);
  --grey-color-one: rgba(220, 221, 227, 0.377);
  --grey-color-two: rgb(240, 204, 133);
  --orange-color: rgb(252, 122, 0);
}

/* -------- GENERAL CODE -------- */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  border-bottom: 2px solid var(--orange-color);
}

.howItWorksSection,
.boxSizes,
.boxDescription,
.wasteFoodSection,
.localFarms,
.recipes,
.contactUs,
.extraInfo {
  padding: 3em 4em;
}

/* ----------- IMAGES ----------- */

img {
  object-fit: cover;
}

/* -------- NAVBAR -------- */

.navBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2em 0;
  background: var(--grey-color-one);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar:hover {
  background: var(--grey-color-two);
  transition: all 0.8s ease;
}

.webPath {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoNav a{
  margin-left: 1em;
  cursor: pointer;
}

.logoNav:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.signAndLog {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: inherit;
  width: 80%;
  margin-left: 20%;
}

.signAndLog ul {
  display: flex;
  flex-direction: row;
}

.navBar img {
  width: 1.4rem;
}

.webPath {
  margin-right: 2em;
}

li {
  margin-left: 1em;
  list-style: none;
}

li:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.navButton {
  position: absolute;
  top: 2.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navButton .bar {
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 10px;
}

.navButton:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}


/* -------- MAIN SECTION -------- */

main {
  background: url("https://images.unsplash.com/photo-1498408040764-ab6eb772a145?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2344&q=80");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px -100px;
}

main {
  display: flex;
  justify-content: space-around;
}

.container {
  padding: 4em 2em;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectionOne p {
  font-size: 2rem;
}

.headerText {
  font-size: 4rem;
  margin-top: 4rem;
}

main h2 {
  padding-bottom: 3em;
}

main h3 {
  padding-bottom: 1em;
}

main p,
main span {
  padding-bottom: 1.5em;
}

main input {
  height: 3rem;
  width: 15rem;
  text-align: center;
}

main .inputBox {
  border: 1px solid var(--blue-dark-color);
}

main .inputBox:focus {
  outline: none;
  box-shadow: 0 0 20px #9ecaed;
}

main .buttonSearch {
  height: 3rem;
  width: 15rem;
  padding: 5px;
  text-align: center;
  margin-left: -1%;
  border: 1px solid var(--blue-dark-color);
  color: var(--blue-dark-color);
  background: none;
  cursor: pointer;
  margin-bottom: 2em;
}

main .buttonSearch:hover {
  color: white;
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  box-shadow: 0 0 20px #9ecaed;
  transition: all 0.5s ease;
}

input {
  caret-color: var(--blue-color);
}

/* -------- HOW IT WORKS SECTION -------- */

.howItWorks {
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

.orderProcess {
  margin: 0 2em;
  min-width: 10em;
  max-width: 30em;
}

.orderProcess img {
  width: clamp(10rem, 0.5vw, 20rem);
}

.orderProcess h4 {
  padding: 1.5em 0;
}

.orderProcess p {
  padding-bottom: 1em;
  font-size: 1.6rem;
}

.buttonLearnMore {
  text-align: center;
  display: block;
  padding-top: 3em;
  border: 1px solid var(--blue-dark-color);
  padding: 5px;
  color: var(--orange-color);
  font-weight: bold;
  width: 10rem;
  margin: 0 auto 2em auto;
}

.buttonLearnMore:hover {
  color: white;
  border: 1px solid var(--blue-dark-color);
  background-color: var(--blue-dark-color);
  box-shadow: 0 0 20px #9ecaed;
  transition: all 0.5s ease;
}

/* -------- BOX SECTION -------- */

.boxSizes {
  background-image: url("https://images.unsplash.com/photo-1511735643442-503bb3bd348a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80");
  background-color: #ffffff;
}

.containerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 60em;
  margin: 0 auto 4em auto;
}

.boxSizes h2 {
  text-align: center;
  padding-bottom: 3em;
}

.box {
  width: 25em;
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.733);
}

.boxColumn:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 20px #9ecaed;
  transform: scale(1.0);
  transition: all 0.8s ease;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box h3 {
  padding-bottom: 1em;
}

.box span {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.getStartedA {
  margin-top: 3em;
  color: var(--orange-color);
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid var(--blue-dark-color);
  padding: 5px;
  width: 10rem;
  cursor: pointer;
}

.getStartedA:hover {
  color: white;
  border: 1px solid var(--blue-dark-color);
  background-color: var(--blue-dark-color);
  box-shadow: 0 0 20px #9ecaed;
  transition: all 0.5s ease;
}


/* -------- FRUIT & VEGGIE BOXES, VEGGIE BOXES AND FRUIT BOX -------- */

.boxDescription {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.boxDescription > h2 {
  margin: 0 1em;
}

.boxDescription > p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  text-align: center;
  margin: 0 auto 6em auto;
}

.fruitVeggBox {
  background-image: url("https://images.unsplash.com/photo-1606757389667-45c2024f9fa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: -400px -400px;
  background-repeat: no-repeat;
  background-size: auto;
}

.fruitVeggGroup,
.veggGroup {
  max-width: 200em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.fruitVeggBox,
.veggieBox {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.fruitVeggContainer,
.veggieContainer,
.fruitContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 2em 4em 2em;
  max-width: 30em;
  background-color: rgba(255, 255, 255, 0.959);
  padding: 2em;
  border-radius: 16px;
  box-shadow: 0 2px 5px #9ecaed;
}

.fruitVeggContainer:hover,
.veggieContainer:hover,
.fruitContainer:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 20px #9ecaed;
  transform: scale(1.1);
  transition: all 0.8s ease;
}

.priceBox {
  margin-top: 2em;
  margin-bottom: -1.5em;
  font-weight: bold;
  font-size: 1.6rem;
}

.veggieBox {
  background-image: url("https://images.unsplash.com/photo-1587334207407-deb137a955ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80");
  background-position: -150px -650px;
  background-repeat: no-repeat;
  background-size: auto;
}

.fruitBox {
  background-image: url("https://images.unsplash.com/photo-1582281298055-e25b84a30b0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1505&q=80");
  background-position: -250px -350px;
  background-repeat: no-repeat;
  background-size: auto;
}

.fruitBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em 0;
}

/* -------- FOOD WASTE -------- */

.wasteFoodSection {
  width: 100%;
  padding: 3em 0;
}

.foodWaste {
  text-align: left;
}

.foodWasteText h2 {
  padding-bottom: 1rem;
  text-align: left;
}

.foodWaste {
  background-image: url("https://images.unsplash.com/photo-1571161933267-9a16444371ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: minmax(200px, 60%) minmax(150px, 40%);
  padding: 0 4rem;
}

.quoteAbout {
  margin: 0 auto;
  /* padding: 0 4rem; */
  max-width: 60rem;
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 6rem;
}

.quoteAuthor {
  font-style: normal;
  font-weight: 700;
}

.foodWasteText {
  color: white;
  padding-bottom: 9rem;
}

.foodWasteText > p {
  padding-bottom: 3rem;
}

.moreAboutMission {
  background: var(--blue-dark-color);
  color: white;
  font-weight: bold;
  border: 1px solid var(--blue-dark-color);
  padding: 1rem 2rem;
  
  cursor: pointer;
}

.moreAboutMission:hover {
  color: white;
  border: 1px solid var(--blue-dark-color);
  background-color: var(--blue-dark-color);
  box-shadow: 0 0 20px #9ecaed;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/* -------- LOCAL FARMS IMAGES AND RECIPES -------- */

.localFarms > p,
.recipes > p {
  max-width: 60rem;
  text-align: center;
  margin: -4rem auto 4rem auto;
}

.recipes > h3 {
  max-width: 50rem;
  text-align: center;
  margin: 4rem auto;
}

.recipes > .getStartedA {
  width: 20rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.recipes > .getStartedA a {
  margin: 0 auto;
  font-size: 1.6rem;
}

.freshFarm,
.recipesImages {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.freshFarm img,
.recipesImages img {
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  object-fit: cover;
  border-radius: 16px;
}

.freshFarm img:hover,
.recipesImages img:hover {
  box-shadow: 0 10px 20px var(--blue-dark-color);
  transition: all 0.8s ease;
}

.selectRecipes ul {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.selectRecipes li {
  border: 1px solid var(--blue-dark-color);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 16px;
}

.selectRecipes li:hover {
  color: white;
  background: var(--orange-color);
  border: 1px solid var(--orange-color);
  box-shadow: 0 5px 20px #9ecaed;
  cursor: pointer;
  transform: scale(1.1);
}

.selectRecipes li:hover > a {
  color: white;
  transition: all 0.5s ease;
}

.selectRecipes a {
  border: none;
}

/* -------- COSTUMER REVIEWS -------- */

.costumerReviewDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.costumerReview .johnSmith {
  width: clamp(30rem, 1.5vw, 20rem);
  border-radius: 50%;
  margin-bottom: 4rem;
}

.fiveStar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2rem;
  max-width: 60rem;

  text-align: center;
  padding-top: 4rem;
}

.fiveStar img {
  margin: 0 1rem;
  width: clamp(5rem, 0.5vw, 10rem);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.johnSmithReview {
  max-width: 40rem;
  margin: 6rem 2rem 0 2rem;
  text-align: center;
}

/* -------- CONTACT US AND FOOTER -------- */

.contactUs {
  margin-top: 6rem;
  background: linear-gradient(360deg, rgb(157, 192, 229) 0%, #e8fcff 100%);
}

.contactUs h2 {
  margin: 0;
  padding: 3rem 0;
}

.contactUsDiv {
  margin: 0 auto;
  max-width: 90rem;
  display: flex;
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contactPhone,
.contactEmail {
  width: 20rem;
  margin: 0 auto;
}

.emailAddress {
  color: var(--blue-color);
  font-size: 1.8rem;
  font-weight: 600;
  z-index: 99;
}

.contactUsDiv img {
  width: 5rem;
  margin: 3rem 0 1rem 0;
}

/* FORM */

.formSection {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.formSection input, textarea {
  width: 80%;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem 0;
  border-radius: 16px;
  border: 1px solid var(--blue-dark-color);
}

.formSection input:focus, textarea:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}


#buttonBlue {
  cursor: pointer;
  background: var(--blue-dark-color);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

#buttonBlue:hover {
  background: var(--orange-color);
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#buttonBlue:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

/* NEWSLETTER */

.newsletter span {
  text-align: center;
  font-size: 1.8rem;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--blue-dark-color);
}

.newsletter input {
  height: 3rem;
  width: 15rem;
  text-align: center;
}

.formBox {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.newsletter .newsletterInput {
  border: 1px solid var(--blue-color);
  height: 3rem;
  width: 15rem;
  text-align: center;
}

.newsletter .newsletterInput:focus {
  outline: none;
  box-shadow: 0 0 20px #9ecaed;
}

.newsletterButton {
  height: 3rem;
  width: 15rem;
  padding: 5px;
  text-align: center;
  border: 1px solid var(--blue-dark-color);
  color: white;
  background: var(--blue-dark-color);
  cursor: pointer;
  margin-bottom: 2em;
}

.newsletterButton:hover {
  color: white;
  background-color: var(--orange-color);
  box-shadow: 0 0 10px var(--orange-color);
}

/* FOOTER */

footer {
  background: var(--blue-dark-color);
  border-top: 1px solid white;
}

footer a {
  color: white;
  font-weight: 600;
}

.footerBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.socialMedia {
  max-width: 80rem;
  text-align: center;
  margin: 6rem auto 2rem auto;
}

.socialMedia p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.socialMedia img {
  width: 3rem;
  margin: 1rem;
}

.socialMedia img:hover {
  transform: scale(1.1);
}

.socialMedia a {
  border: none;
}

.footerList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
}

.footerList ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footerList li {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 2rem;
}

.footerList li:hover {
  transform: scale(1.1);
}

p.registered {
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
  color: white;
  border-top: 1px solid white;
}

.registered a {
  border: none;
}

.registered a:hover {
  color: var(--orange-color);
}


/* ABOUT US PAGE */

.mainAboutPage {
  display: flex;
  flex-direction: column;
  margin: 9rem 0 0 0;
  padding: 6rem 4rem;
  background: var(--cyan-color);
}

.mainAboutPage p {
  font-size: 1.4rem;
  font-weight: 400;
}

.contactUsAboutPage {
  margin-top: 0;
}

/*  */

/* -------- MEDIA QUERIES -------- */

@media screen and (max-width: 900px) {
  .foodWaste {
    display: block;
  }
  .foodWasteText {
    text-align: center;
    margin: 0 auto;
    max-width: 40em;
  }
  .foodWasteText h2 {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .navBar {
    height: 9rem;
  }

  .logoNav a{
    position: absolute;
    top: 2rem;
    z-index: 2;
  }
  .webPath {
    margin: 0;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    padding: 0;
    text-align: center;
    width: 100%;
    margin: 20rem auto 0 auto;
  }

  .navBar ul {
    width: 100%;
    flex-direction: column;
  }

  .navLinks.active{
    padding: 12rem 0 3rem 0;
    background: white;
  }

  .navLinks.active li {
    text-align: center;
    margin: 0.6rem auto;
  }

  .navLinks.active li a {
    padding: 1rem;
  }

  .navLinks.active li a:hover {
    border-bottom: 2px solid var(--orange-color);
  }

  .navLinks.active {
    display: flex;
  }

  .navLinks span {
    display: none;
  }

  .navButton {
    display: flex;
    margin: 1rem 0;
  }

  .navButton:hover {
    border: none;
  }
}

@media screen and (max-width: 670px) {
  

  .containerTwo {
    flex-direction: column;
    width: 100%;
  }

  .boxImage {
    display: none;
  }


  .contactUsDiv {
    flex-direction: column;
  }

  .contacts {
    width: 100%;
  }

  .footerList ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 580px) {

  .container {
    padding-top: 2em;
  }

  .howItWorks {
    flex-direction: column;
  }

  .orderProcess {
    margin: 0 auto;
    display: block;
    min-width: 10em;
  }
}

@media screen and (max-width: 360px) {

  .container {
    padding-top: 2em;
  }
}
